{% extends "base1.html" %}
{% load i18n %}
{% load staticfiles %}

<body class="text-center">
{% block content %}



<form class="form-signin" method="post" action=".">
{% if form.errors %}
            <div class="alert alert-danger">
                <p><strong>{% trans "Oh snap!" %}</strong> {% trans "Please enter a correct username and password. Note that both fields are case-sensitive." %}</p>
            </div>
        {% endif %}
	{% csrf_token %} 
<!--       <img class="mb-4" src="./Signin Template for Bootstrap_files/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> -->
      <label for="id_username" class="sr-only">Email address</label>
      <input name="username" id="id_username" class="form-control" placeholder="Email address" required="" autofocus="" type="text">
      <label for="id_password" class="sr-only">Password</label>
      <input name="password" type="password" id="id_password" class="form-control" placeholder="Password" required="">
<!--       <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div> -->
      <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in">
	  <input type="hidden" name="next" value="{{ next }}" />
      <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
      <p>{% trans "Forgo password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
    </form>

{% endblock %}
</body>