
{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block content %}



        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                <div class="col-md-12">
                    <div class="card">
                    <div class="card-header">
                            <strong class="card-title"><h2>{% trans "Category list" %}</h2></strong>
                        </div>
                        <div class="card-body">
                        

<ul>
  {% for cat in category_list %}
  
	<p><a href="{% url 'quiz_category_list_matching' category_name=cat.category %}">
	  {{ cat.category }}
	</a></p>
  
  {% endfor %}
</ul>
    </div>
     </div>
                    </div>
                </div>
                </div>
            </div><!-- .animated -->
            
        


{% endblock %}
