{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
{{ quiz.title }}
{% endblock %}

{% block content %}



        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                <div class="col-md-12">
                    <div class="card">
                    <div class="card-header">
                            <strong class="card-title"><h2>{{ quiz.title }}</h2></strong>
                        </div>
                        <div class="card-body">
                        



  
<h3>{% trans "Category" %}: {{ quiz.category }}</h3>
{% if quiz.single_attempt %}
  <h4>{% trans "You will only get one attempt at this quiz" %}.</h4>
{% endif %}
<p>{{ quiz.description }}</p>
<p>
  <a href="{% url 'quiz_question' quiz_name=quiz.url %}">
	{% trans "Start quiz" %}
  </a>
</p>

    </div>
     </div>
                    </div>
                </div>
                </div>
            </div><!-- .animated -->
            
      
    {% endblock %}