{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block content %}



        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Data Table</strong>
                        </div>
                        <div class="card-body">
          
                   
                <h2>{% trans "List of quizzes" %}</h2>
                {{ user.get_username }}
                    {% if quiz_list %}
                        <table class="table table-bordered table-striped" id="bootstrap-data-table" class="table table-striped table-bordered">

                          <thead>
                            <tr>
                              <th>{% trans "Title" %}</th>
                              <th>{% trans "Category" %}</th>
                              <th>{% trans "Exam" %}</th>
                              <th>{% trans "Single attempt" %}</th>
                              <th></th>
                            </tr>
                          </thead>

                          <tbody>

                        {% for quiz in quiz_list %}

                            <tr>
                              <td>{{ quiz.title }}</td>
                              <td>{{ quiz.category }}</td>
                              <td>{{ quiz.exam_paper }}</td>
                              <td>{{ quiz.single_attempt }}</td>
                              <td>
                                <a href="{% url 'quiz_start_page' slug=quiz.url %}">
                                  {% trans "View details" %}
                                </a>
                            </tr>

                        {% endfor %}
                          </tbody>

                        </table>

                    {% else %}
                        <p>{% trans "There are no available quizzes" %}.</p>
                    {% endif %}
                     </div>
                    </div>
                </div>
                </div>
            </div>
            
        </div>


{% endblock %}
