{% load i18n %}
{% load staticfiles %}
{% load sass_tags %}


<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
<meta charset="utf-8">

<title>{% trans "Example Quiz Website" %} | {% block title %}{% endblock %}</title>
<meta name="description" content="{% block description %}{% endblock %}">
<meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="{% sass_src "assets/css/normalize.css" %}" rel="stylesheet">
	<link href="{% sass_src "assets/css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% sass_src "assets/css/font-awesome.min.css" %}" rel="stylesheet">
	<link href="{% sass_src "assets/css/themify-icons.css" %}" rel="stylesheet">
	<link href="{% sass_src "assets/css/flag-icon.min.css" %}" rel="stylesheet">
	<link href="{% sass_src "assets/css/cs-skin-elastic.css" %}" rel="stylesheet">
	<link href="{% sass_src "assets/css/lib/datatable/dataTables.bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "assets/scss/style.css" %}" rel="stylesheet">
    <link href="{% static "signin/signin.css" %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body>


{% block content %}

{% endblock %}


<!-- After the quiz content -->
    
    <script src="{% static "assets/js/vendor/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "assets/js/popper.min.js" %}"></script>
    <script src="{% static "assets/js/plugins.js" %}"></script>
    <script src="{% static "assets/js/main.js" %}"></script>

    <script src="{% static "assets/js/lib/data-table/datatables.min.js" %}"></script>
    <script src="{% static "assets/js/lib/data-table/dataTables.bootstrap.min.js" %}"></script>
    <script src="{% static "assets/js/lib/data-table/dataTables.buttons.min.js" %}"></script>
    <script src="{% static "assets/js/lib/data-table/buttons.bootstrap.min.js" %}"></script>
    <script src="{% static "assets/js/lib/data-table/jszip.min.js" %}"></script>
    <script src="{% static "assets/js/lib/data-table/pdfmake.min.js" %}"></script>
    <script src="{% static "assets/js/lib/data-table/vfs_fonts.js" %}"></script>
    <script src="{% static "assets/js/lib/data-table/buttons.html5.min.js" %}"></script>
    <script src="{% static "assets/js/lib/data-table/buttons.print.min.js" %}"></script>
    <script src="{% static "assets/js/lib/data-table/buttons.colVis.min.js" %}"></script>
    <script src="{% static "assets/js/lib/data-table/datatables-init.js" %}"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {
          $('#bootstrap-data-table-export').DataTable();
        } );
    </script>

</body>
</html>
